/* Reset styles */
body {
	text-align: center;
	font-size: 24px !important;
}

/* General Class Styles */
.lg-size {
	font-size: 55px !important;
}

/* Style for the Container for quotes */
#quote-container {
	padding: 2.5rem;
	min-width: 80vw;
	height: 350px;
	border-radius: 4px;
	margin-top: 12vh;
	background-color: white;
}

#author {
	margin-left: 55vw;
}

#new-quote-btn {
	font-size: 16px !important;
	margin-left: 55.5vw;
	padding: 9px;
	border-radius: 2px;
	color: white;
	background-color: #16a085;
	text-decoration: none;
}

#new-quote-btn:hover {
	opacity: 0.8;
}

/* max constraints for the quote */
#quote {
	height: 150px;
}

#title {
	color: white;
	margin-top: 12vh;
}